:root{
    --dark-hover-red: #4d1111;
    --dark-red: #F05039;
    --light-red: #E57A77;
    --dark-blue: #1F449C;
    --light-blue: #7CA1CC;
    --glow-yellow: #c8b400;
    --light-grey: #596b7c;
}

.cursor-pointer{
    cursor: pointer;
}

@keyframes glow {
    to {
        border-color: var(--glow-yellow);
        box-shadow: 0 0 20px var(--glow-yellow);
        -webkit-box-shadow: 0 0 20px var(--glow-yellow);
        -moz-box-shadow: 0 0 20px var(--glow-yellow);
    }
}

@-webkit-keyframes glow {
    to {
        border-color: var(--glow-yellow);
        box-shadow: 0 0 20px var(--glow-yellow);
        -webkit-box-shadow: 0 0 20px var(--glow-yellow);
        -moz-box-shadow: 0 0 20px var(--glow-yellow);
    }
}

.glow-tile>img:hover {
    border: 1px solid transparent;
    animation: glow 1.0s infinite alternate;
    -webkit-animation: glow 1.0s infinite alternate;  
    -webkit-transition: border 1.0s linear, box-shadow 1.0s linear;
    -moz-transition: border 1.0s linear, box-shadow 1.0s linear;
    transition: border 1.0s linear, box-shadow 1.0s linear;
}

.list-group-item-danger:hover {
    background-color: var(--dark-hover-red);
    color: white;
}

.list-group-item:hover {
    background-color: var(--light-grey);
    color: white;
}

.search-image{
    max-width: 30px;
    max-height: 30px;
}

.slot-image{
    max-width: 110px;
    max-height: 50px;
}

.sub-slot-image{
    max-width: 110px;
    max-height: 35px;
}

.slot-container{
    width: 130px;
    height: 130px;
}

.add-new-slot{
    width: 130px;
    height: 130px;
}

.sub-slot-container{
    width: 130px;
    max-height: 130px;
}

.loading-spinner{
    width: 3.5rem;
    height: 3.5rem;
}